/* 
    Document   : EmployeeDet
    Created on : May 9, 2011, 10:07:22 AM
    Author     : shameera
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
    Document   : project
    Created on : Apr 21, 2011, 9:13:13 AM
    Author     : Prajapriya
    Description: Purpose of the stylesheet follows.
*/

#containerc {
    width: 768px;
    height: 100%;
    min-height: 6px;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;    
}
#Centeredc {
    position: relative;
    width: 768px;
    height: 100%;
    min-height: 530px;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
}
.body {
    width:726px;
    height: 100%;
    min-height: 530px;
    border:2px solid #9ac1c9;
    border-top:none;
    padding:15px;
/*    background-image: url(../images/content.gif);
    background-repeat: repeat;*/
}
#Div-Form_logo {
    position: absolute;
    left: 680px;
    top: 3px;
}
.logo {
    font-family: Verdana, Geneva, sans-serif;
    font-size:0px;
    color: #000000;
    background-color: transparent;
    background-image: url(../images/logo-pdf.png);
    background-repeat: no-repeat;
    border: medium none;
    cursor: pointer;
    width:80px;
    height:45px;
    position: absolute;
}
#Div-Form_Back {
    position: absolute;
    left: 10px;
    top: 10px;
}
#Div-Form_Add {
    position: absolute;
    left: 550px;
    top: 10px;
}
#Div-Form_Edit {
    position: absolute;
    left: 600px;
    top: 10px;
}
#Div-Form_Del {
    position: absolute;
    left: 650px;
    top: 10px;
}
#Div-Form_Print {
    position: absolute;
    left: 700px;
    top: 10px;
}
#Div-Form_Search {
    position: absolute;
    left: 500px;
    top: 10px;
}
#div-lbl_EmpCode {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 120px;
}
#Div-txt_EmpCode {
	position: absolute;
	left: 200px;
	top: 115px;
}

#div-lbl_EmpNIC {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 150px;
}
#Div-txt_EmpNIC {
	position: absolute;
	left: 200px;
	top: 145px;
}
#div-lbl_Designation {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 180px;
}
#Div-txt_Designation {
	position: absolute;
	left: 200px;
	top: 175px;
}
#div-lbl_Address {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 210px;
}
#Div-txt_Address {
	position: absolute;
	left: 200px;
	top: 205px;
}
#div-lbl_Street {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 240px;
}
#Div-txt_Street {
	position: absolute;
	left: 200px;
	top: 235px;
}
#div-lbl_City {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 270px;
}
#Div-txt_City {
	position: absolute;
	left: 200px;
	top: 265px;
}
#div-lbl_Title {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 300px;
}
#Div-txt_Title {
	position: absolute;
	left: 200px;
	top: 295px;
}
#div-lbl_FName {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 330px;
}
#Div-txt_FName {
	position: absolute;
	left: 200px;
	top: 325px;
}
#div-lbl_LName {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 360px;
}
#Div-txt_LName {
	position: absolute;
	left: 200px;
	top: 355px;
}

#div-lbl_ContactL {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 390px;
}
#Div-txt_ContactL {
	position: absolute;
	left: 200px;
	top: 385px;
}

#div-lbl_ContactM {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 420px;
}
#Div-txt_ContactM {
	position: absolute;
	left: 200px;
	top: 415px;
}

#div-lbl_ContactF {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 450px;
}
#Div-txt_ContactF {
	position: absolute;
	left: 200px;
	top: 445px;
}

#div-lbl_ContactE {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	position: absolute;
	width: 200px;
	height: 20px;
	color: #000066;
	left: 20px;
	top: 480px;
}
#Div-txt_ContactE {
	position: absolute;
	left: 200px;
	top: 475px;
}

#Div-pannel {
	position: relative;
        width: 200px;
        height:30px;
        margin-top:auto;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:auto;
	top: 500px;
}
.buttonSave {
    font-family: Verdana, Geneva, sans-serif;
    font-size:12px;
    color: #000000;
    background-color: transparent;
    background-image: url(../images/submit.png);
    border: medium none;
    cursor: pointer;
    width:100px;
    height:25px;
    position: absolute;
    left: 10px;
}
.buttonCancel {
    font-family: Verdana, Geneva, sans-serif;
    font-size:12px;
    color: #000000;
    background-color: transparent;
    background-image: url(../images/submit.png);
    border: medium none;
    cursor: pointer;
    width:100px;
    height:25px;
    position: absolute;
    left: 110px;
}
.buttonDot {
  font-family: Verdana, Geneva, sans-serif;
  font-size:13px;
  color: #000000;
  background-color: transparent;
  background-image: url('../images/dot.png');
  border: medium none;
  cursor: pointer;
  width:39px;
  height:22px;
}
.Div-Msg {
    font-size: 12px;
    font-weight: bold;
    color: #000066;
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    left: 60px;
    top: 15px;
    width: 500px;
    height: 26px;
}
.Div-Error {
    font-size: 12px;
    color: #FF0000;
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    left: 40px;
    top: 15px;
    width: 500px;
    height: 26px;
}




